<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Carz.tech</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="browser/assets/favicon.ico">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_GNFSy6S5sSnXfCYxJi77Dzp8');
    </script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>

</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
