<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Carz.tech</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="browser/assets/favicon.ico">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_GNFSy6S5sSnXfCYxJi77Dzp8');
    </script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>

</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <h3 style="text-align: center">This project was made for educational purposes. Please do not try to purchase a car through this site as it is not a real eCommerce site. Thank you.</h3>
    <div id="main" ui-view></div>
    <footer style="text-align: center"><h4>This app was created as a project by students at Fullstack Academy of Code &copy; 2016</h4></footer>
</body>
</html>
