<header class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse-toggle" ng-click="navCollapse = !navCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <fullstack-logo></fullstack-logo>
        </div>
        <div class="visible-xs collapse" uib-collapse="!navCollapse">
            <div ng-if="navCollapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                        <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                    </li>
                    <li ng-show="user.isAdmin">
                        <a ui-sref-active="active" ui-sref="admin">{{ admin.label }}</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </li>
                </ul>
                <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
                <div ng-show="user" class="welcome">
                    <span>Welcome, {{ user.email }}!</span>
                    <a ng-click="logout()">Logout</a>
                </div>
            </div>
        </div>
        <div class="hidden-xs">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
                <li ng-show="user.isAdmin">
                    <a ui-sref-active="active" ui-sref="admin">{{ admin.label }}</a>
                </li>
                <li>
                    <a ui-sref="order-cart({orderId: order._id})"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                </li>
            </ul>
            <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            <div ng-show="user" class="welcome">
                <span>Welcome, {{ user.email }}!</span>
                <a ng-click="logout()">Logout</a>
            </div>
        </div>
    </div>
</header>
