<div class="modal-header">
    <h4 class="modal-title">Add Address</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="Full Name" class="col-sm-3 control-label">Full Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="Full Name" placeholder="Full Name" ng-model="address.name">
            </div>
        </div>
        <div class="form-group">
            <label for="Address Line 1" class="col-sm-3 control-label">Address Line 1:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="Address Line 1" placeholder="Address Line 1" ng-model="address.street">
            </div>
        </div>
        <div class="form-group">
            <label for="City" class="col-sm-3 control-label">City:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="City" ng-model="address.city">
            </div>
        </div>
        <div class="form-group">
            <label for="State" class="col-sm-3 control-label">State:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="State" placeholder="State" ng-model="address.state">
            </div>
        </div>
        <div class="form-group">
            <label for="Zip Code" class="col-sm-3 control-label">Zip Code:</label>
            <div class="col-sm-9">
                <input type="string" class="form-control" id="Zip Code" placeholder="Zip Code" ng-model="address.zip">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
        </div>
    </form>
</div>
