<section id="cart">
    <div class="container">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Shopping Cart</h1>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        	<th></th>
                            <th>Product</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="car in order.cars">
                        	<td><img class="img-circle" ng-src="{{car.photo}}"></td>
                            <td>{{car.year + " " + car.make + " " + car.model }}</td>
                            <td>{{car.price | currency:$:0}}</td>
                            <td><button class="btn" ng-click="remove(car._id)"><span class="glyphicon glyphicon-remove"></span></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
            	<div class="col-xs-3 pull-right">
            		<table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Car 1</td>
                            <td>{{order.price | currency:$:0}}</td>
                        </tr>
                    </tbody>
                </table>
            	</div>
            	<div class="col-xs-12">
            		<button type="button" class="btn btn-primary pull-right" ng-click="confirm()">Confirm & Pay</button>
            	</div>
            </div>
        </div>
    </div>
</section>
