<section id="user">
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<h3>{{user.name}}</h3>
			</div>
			<div class="col-xs-10" style='text-align: right'>
			</div>
			<form class="col-xs-12">
             <h4>User Infos:</h4>
			  <fieldset class="form-group" ng-repeat="prop in newUserObj">
			    <label for="formGroupExampleInput">{{ prop.label }} :</label>
			    <input type="text" class="form-control" id="formGroupExampleInput" ng-model="prop.value">
			  </fieldset>
               <h4>Shipping Address:</h4>
              <fieldset class="form-group" ng-repeat="prop in shipping">
                <label for="formGroupExampleInput">{{ prop.label }} :</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="prop.value">
              </fieldset>
              <h4>Billing Address:</h4>
              <fieldset class="form-group" ng-repeat="prop in billing">
                <label for="formGroupExampleInput">{{ prop.label }} :</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="prop.value">
              </fieldset>
			</form>
		</div>
		<button type="button" class="btn btn-success" ng-click="save()">SAVE</button>
	</div>
</section>
