<section id="user">
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<h3>{{user.name}}</h3>
			</div>
			<div class="col-xs-10" style='text-align: right'>
			<button type="button" class="btn btn-info" >EDIT</button>
			<button type="button" class="btn btn-success" ng-click="save()">SAVE</button>
			</div>
			<form class="col-xs-12">
			  <fieldset class="form-group" ng-repeat="prop in newUserObj">
			    <label for="formGroupExampleInput">{{ prop[0] }}</label>
			    <input type="text" class="form-control" id="formGroupExampleInput"   ng-model="prop[1]">
			  </fieldset>
			</form>
		</div>
	</div>	
</section>