<section id="browse">
   <div class="container">
      <div class="row">
         <div class="col-xs-2">
            <h2>Filters</h2>
            <button class="btn btn-primary" ng-click="filter()">Update Filter</button>
            <div class="filter">
               <span class="glyphicon" ng-class="{'glyphicon-plus': makeCollapse, 'glyphicon-minus': !makeCollapse}" ng-click="makeCollapse = !makeCollapse"><span class="filter-title">Makes</span></span>
               <ul uib-collapse="makeCollapse">
                  <li ng-repeat="make in makes" ng-class="{selected: make.checked}"><input type="checkbox" ng-model="make.checked">{{make.name}}</li>
               </ul>
            </div>
            <div class="filter">
               <span class="glyphicon" ng-class="{'glyphicon-plus': yearCollapse, 'glyphicon-minus': !yearCollapse}" ng-click="yearCollapse = !yearCollapse"><span class="filter-title">Years</span></span>
               <ul uib-collapse="yearCollapse">
                  <li ng-repeat="year in years" ng-class="{selected: year.checked}"><input type="checkbox" ng-model="year.checked">{{year.name}}</li>
               </ul>
            </div>
            <div class="filter">
               <span class="glyphicon" ng-class="{'glyphicon-plus': typeCollapse, 'glyphicon-minus': !typeCollapse}" ng-click="typeCollapse = !typeCollapse"><span class="filter-title">Types</span></span>
               <ul uib-collapse="typeCollapse">
                  <li ng-repeat="type in types" ng-class="{selected: type.checked}"><input type="checkbox" ng-model="type.checked">{{type.name}}</li>
               </ul>
            </div>
         </div>
         <div class="col-xs-10" style="overflow: auto">
            <div class="row">
               <div class="col-xs-4" ng-repeat="car in cars">
                  <a class="thumbnail" ui-sref="car({carId: car._id})">
                     <img class="img-thumbnail" ng-src="{{ car.photo }}">
                     <div class="caption">
                      <h5>
                         <span>{{ car.year }} {{car.make}} {{car.model}}</span>
                      </h5>
                   </div>
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>