#browse {
   .filter {
      margin-top: 15px;
      ul {
         list-style: none;
      }
      .filter-title {
      font-size: 150%;
      padding-left: 15px;
      font-family: sans-serif;
      margin-bottom: 15px;
      }
      input {
         margin-right: 5px;
      }
      .selected {
         font-weight: bold;
      }
   }
}
