.collapse-toggle {
   background-color: #c80a0c;
   span {
      background-color: white;
   }
}

.order {
   background-color: #c80a0c;
   color: white;
   margin-left: 15px;
   &:focus {
      outline: none;
      color: white;
   }
   &:hover {
      color: white;
   }
}